.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local
.env.*.local

logs/
data/
web/dist/

node_modules/

*.mkv
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.m4v
*.srt
*.ass
*.ssa
*.vtt
*.sub
*.idx
*.sup
*.jpg
*.jpeg
*.png

subhd_screenshots/
assets/
test/

/docs/
/scripts/
